body{
    background: gray;
    text-align: center;
}

h2{
    
    color: white;
    border-radius: 20px 20px 20px 20px;
    padding: 1%;
    

}

.cero{
    font-size: 20px;
    margin: 10px auto;
    
}

.uno{
    font-size: 30px;
}

form{
    border: 2px solid black;
    background-color: white;
    width: 600px;
    margin: auto;
}

input{
    background-color: beige;
    width: 500px;

}
textarea{
    background-color: beige;
    width: 500px;
}
button{
    background: teal;
    color: white;
    border: 1px solid black;
    margin: 10px auto;
    width: 200px;
    border-radius: 6px;
}

#h2{
    padding: 1px;
    background-color: teal;

}


button:hover{
    background-color: black;
    color: red;
}