body{
    background: gray;
    margin: auto;
}

form{
    padding: 20px 20px 20px 20px;
    background-color: red;
    width: 600px;
    margin: auto;
    border: 2px solid black;
    border-radius: 15px;
}